<h3 class="text-center">My Books</h3>

<div class="row">
    <div class="col col-md-4 text-center">
        <!-- Single button -->
        <div class="btn-group" style="margin: 2% auto 2% auto">
            <button type="button" id="outstandingTradeRequests" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-arrow-up" aria-hidden="true"></i> 
                &nbsp; Your trade requests (<span class="badge">{{user.requestsOut.length}}</span> outstading)
                <span class="caret"></span>
            </button>
            {{#if user.requestsOut}}
            <div class="dropdown-menu list-group notification-drop-btn">
                {{#each user.requestsOut}}
                    <button type="button" class="list-group-item" data-toggle="tooltip" data-placement="down" title="Author: {{this.author}}, Owner: {{this.ownedByName}}">
                        Book: {{this.bookName}}
                        <span class="badge btn btn-danger" data-toggle="tooltip" data-placement="down" title="Cancel trade request"
                            onclick="post('/mybooks/cancelTradeRequest', 
                            {_csrf: '{{../csrfToken}}', id: '{{this._id}}', number: {{this.number}}, ownedBy: '{{this.ownedBy}}', 
                            ownedByName: '{{this.ownedByName}}', bookName: '{{this.bookName}}', author:'{{this.author}}'})">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </button> 
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="col col-md-4 text-center">
        <div id="addNewBook" class=" btn btn-sm btn-success" style="margin: 2% auto 2% auto">
            <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add new book
        </div>
    </div>
    <div class="col col-md-4 text-center">
        <!-- Single button -->
        <div class="btn-group" style="margin: 2% auto 2% auto">
            <button type="button" id="unapprovedTradeRequests" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> 
                &nbsp; Trade requests for you (<span class="badge">{{user.requestsIn.length}}</span> unapproved)
                <span class="caret"></span>
            </button>
            {{#if user.requestsIn}}
            <div class="dropdown-menu list-group notification-drop-btn2">
                {{#each user.requestsIn}}
                    <button type="button" class="list-group-item" data-toggle="tooltip" data-placement="down" title="Requested by: {{this.requestedByName}}, Author: {{this.author}}">
                        Book: {{this.forBookName}}
                        <span class="badge btn btn-success" data-toggle="tooltip" data-placement="down" title="Accept trade request"
                            onclick="post('/mybooks/acceptTradeRequest', 
                            {_csrf: '{{../csrfToken}}', id: '{{this._id}}', for: {{this.for}}, ownedBy: '{{this.ownedBy}}', 
                            requestedBy: '{{this.requestedBy}}', forBookName: '{{this.forBookName}}', author:'{{this.author}}'})">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        <span class="badge btn btn-danger" data-toggle="tooltip" data-placement="down" title="Reject trade request"
                            onclick="post('/mybooks/rejectTradeRequest', 
                            {_csrf: '{{../csrfToken}}', id: '{{this._id}}', for: {{this.for}}, ownedBy: '{{this.ownedBy}}', 
                            requestedBy: '{{this.requestedBy}}', forBookName: '{{this.forBookName}}', author:'{{this.author}}'})">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>                      
                    </button> 
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if info}}
<div class="row">
    <div class="col col-md-8 col-centered">
        <div class="alert alert-info alert-dismissible" style="text-align:center">
            {{info}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>
{{/if}}


<div id="popup1" title="&nbsp;&nbsp;&nbsp;Add New Book">
    <form method="POST" style="margin-bottom:4%" action="/mybooks/addNewBook" data-toggle="validator" role="form">
        <input type="hidden" name="_csrf" value={{csrfToken}} />
        <div class="form-group">
            <label>Book name</label>
            <div class="input-group">
                <span class="input-group-addon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </span>
                <input type="text" maxlength="60" class="form-control" name="bookName" placeholder="New book name" required>
            </div>
        </div>
        <div class="form-group">
            <label>Author</label>
            <div class="input-group">
                <span class="input-group-addon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                <input type="text" maxlength="60" class="form-control" name="author" placeholder="Author name" required>
            </div>
        </div>
        <div class="form-group">
            <label>Cover page url</label>
            <div class="input-group">
                <span class="input-group-addon">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </span>
                <input type="url" maxlength="200" class="form-control" name="coverPageUrl" placeholder="Cover page url">
            </div>
        </div>

        <div class="new-book-add-btn">
            <button id="newBookAdd" class="btn btn-sm btn-primary" type="submit">Add</button>
            <button type="button" id="poup1Close" class="btn btn-sm btn-danger">Close</button>
        </div>
    </form>
</div>



<div class="row" style="margin-top:3%">
    <div class="col col-md-8 col-centered">
        <div style="text-align:center">
            {{#each user.books}}
                <div class="cover">
                    <a style="text-decoration:none"><img src="{{this.coverPageUrl}}" onerror="this.src='/public/images/img-not-available.jpg';" class="book-image" />
                        <button onclick="post('/mybooks/removeBook',
                        {_csrf: '{{../csrfToken}}',id: '{{this._id}}', bookName:'{{this.bookName}}' ,number: {{this.number}}, ownedBy: '{{this.ownedBy}}'})"
                        class="btn btn-xs btn-danger close-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="tag">{{this.bookName}}</div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>




